@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

@custom-variant dark (
  /* 케이스 1: .dark 클래스를 사용할 때 */
  &:where(.dark, .dark *), 
  /* 케이스 2: 시스템 다크모드 + data-theme="dark" 속성 사용할 때 */
  &:where(:not(.light):is(:root[data-theme="dark"] *, :root[data-theme="dark"]))
);
